* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(254, 215, 144);
    background-image: url("world.jpg");
    background-size: cover;
}
.content-box {
    height: 60vmin;
    width: 50vmin;
    background-color: rgb(202, 255, 208, 0.55);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 2rem #2e4057;
}
.heading {
    align-self: flex-start;
    padding-left: 7%;
    font-size: 4vmin;
    font-weight: bolder;
    margin-top: 10%;
}
.amount {
    align-self: flex-start;
    padding-top: 5vmin;
    padding-left: 7%;
}
.conversion {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-top: 10%;
    padding-left: 7%;
}
#exchange-symbol {
    padding-top: 5%;
}
.converted-val {
    padding-top: 5%;
    padding-left: 7%;
}
button {
    height: 25%;
    width: 85%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e4057;
    color: white;
    border: 1rem solid transparent;
    border-radius: 2rem;
    font-size: 2.5vmin;
    align-self: center;
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input{
    height: 5vmin;
    width: 161%;
    padding-left: 7%;
    border-radius: 1rem;
    margin-top: 2%;
    background-color: rgba(255,255,255,0.6);
}
select {
    height: 5vmin;
    width: 10vmin;
    margin-top: 2%;
    border-radius: 0.45rem;
    background-color: rgba(255,255,255,0.6);
}
p {
    font-size: 1.2rem;
}